.addService form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addService input {
    width: 40%;
    margin-bottom: 10px;
}
.addService h3{
    text-align: center;
    text-transform: uppercase;
}